{{!  网站主页logos    }}
<div id="p-logo" class="mw-portlet center-block text-center" role="banner">
    <a href="{{link-mainpage}}">
    {{#data-logos}}
        {{#icon}}<img src="{{.}}" width="40" height="40">{{/icon}}
        {{#wordmark}}<img src="{{src}}" width="{{width}}" height="{{height}}">{{/wordmark}}
        {{^wordmark}}{{/wordmark}}
    {{/data-logos}}
    </a>
</div>

{{{html-categories}}}