<!--导航栏-->
{{> navbar}}

<!--中间-->
<div class="d-flex  mt-5 container-fluid  row flex-xl-nowrap" id="middle-body" >      
    <!--左边栏-->
    <div class="d-none d-xl-block col-xl-2 " id='body-left'>
    {{> left}}
    </div>

    <!--中间内容-->
    <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 " id='body-content' role="main">   
    {{> content}}
    </main>

    <!--右边栏-->
    <div class="col-md-3 col-xl-2  " id="body-right">
    {{> right}}
    </div>
</div> 

{{{mydata}}}

<!--底部栏-->
<footer class="footer mt-auto noprint bg-dark text-light pt-3 pb-3 mt-5">
    {{>footer}}
</footer>







